<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- Define some output appenders -->
  <appender name="rollingAppender" type="log4net.Appender.RollingFileAppender">
    <!--File的值是静态的如果写“yyyy-MM”就是“yyyy-MM”而不会转成当前的年份和月份，而且斜扛“/”与反斜扛“\”效果相同，连续2扛也与1扛相同-->
    <file value="Logs/" />

    <!--追加日志内容-->
    <appendToFile value="true" />

    <!--防止多线程时不能写Log,官方说线程非安全-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <!--使用Unicode编码-->
    <Encoding value="UTF-8" />

    <!--可以为:Once|Size|Date|Composite-->
    <!--Composite为Size和Date的组合-->
    <rollingStyle value="Composite" />

    <!--StaticLogFileName的值如果为true，则当前日志文件(相对于历史日志文件而言)的文件名只取File参数。如果为false，则文件名取File+DatePattern-->
    <!--DatePattern的值是动态的“yyyy”代表4位年份，详细参考网上的众多资料(这个不难得到)。
    如果想表达静态的字符(如“y”)有2种办法，1是使用转义字符“\”，即“\y”，2是使用一对单引号限定，即“'y'”。
    如上面的value="_yyyy-MM-dd.'config'"，就是因为fig有特殊含义，所以把“config”用单引号包含起来了。-->
    <datePattern value="yyyy-MM/yyyyMMdd.'log'" />

    <!--日志最大个数,都是最新的-->
    <!--rollingStyle节点为Size时,只能有value个日志-->
    <!--rollingStyle节点为Composite时,每天有value个日志-->
    <maxSizeRollBackups value="20" />

    <!--可用的单位:KB|MB|GB-->
    <maximumFileSize value="10MB" />

    <!--是否只写到一个文件中-->
    <!--置为true,当前最新日志文件名永远为file节中的名字-->
    <staticLogFileName value="false" />



    <!--输出级别在INFO和ERROR之间的日志-->
    <!--<filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>-->

    <!--必须结合起来用,第一个只过滤出WARN,第二个拒绝其它其它日志输出-->
    <!--
		<filter type="log4net.Filter.LevelMatchFilter">
			<param name="LevelToMatch" value="WARN" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />-->

    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>-->
      <conversionPattern value="-----------------%ndata:%d%nlevel:%-5level%nlogger:%logger%nmessage:%m%n"/>
    </layout>
  </appender>


  <!-- levels: OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL -->
  <root>
    <priority value="ALL"/>
    <level value="ALL"/>
    <appender-ref ref="rollingAppender" />
  </root>
</log4net>

